{{- range .Values.DbCopyJobs }}
apiVersion: db-operator.kubemaster.com/v1alpha1
kind: DbCopyJob
metadata:
  name: {{ quote .name }}
spec:
  from_db_name: {{ quote .from_db_name }}
  to_db_name: {{ quote .to_db_name }}
---
{{ end -}}