# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/db-operator.kubemaster.com_dbservers.yaml
- bases/db-operator.kubemaster.com_dbs.yaml
- bases/db-operator.kubemaster.com_users.yaml
- bases/db-operator.kubemaster.com_backuptargets.yaml
- bases/db-operator.kubemaster.com_restoretargets.yaml
- bases/db-operator.kubemaster.com_backupjobs.yaml
- bases/db-operator.kubemaster.com_restorejobs.yaml
- bases/db-operator.kubemaster.com_s3storages.yaml
- bases/db-operator.kubemaster.com_restorecronjobs.yaml
- bases/db-operator.kubemaster.com_dbcopyjobs.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_dbservers.yaml
#- patches/webhook_in_dbs.yaml
#- patches/webhook_in_users.yaml
#- patches/webhook_in_backuptargets.yaml
#- patches/webhook_in_restoretargets.yaml
#- patches/webhook_in_backupjobs.yaml
#- patches/webhook_in_restorejobs.yaml
#- patches/webhook_in_s3storages.yaml
#- patches/webhook_in_restorecronjobs.yaml
#- patches/webhook_in_dbcopyjobs.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_dbservers.yaml
#- patches/cainjection_in_dbs.yaml
#- patches/cainjection_in_users.yaml
#- patches/cainjection_in_backuptargets.yaml
#- patches/cainjection_in_restoretargets.yaml
#- patches/cainjection_in_backupjobs.yaml
#- patches/cainjection_in_restorejobs.yaml
#- patches/cainjection_in_s3storages.yaml
#- patches/cainjection_in_restorecronjobs.yaml
#- patches/cainjection_in_dbcopyjobs.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
